@import "tailwindcss";

:root{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   --primary-color: #80ABD5; 
  --secondary-color: #FB7D22; 
  --secondary-muted: #F5934D; 
  --off-white: #F5F5F5;       
  --charcoal: #1C1F26;        
  --charcoal-darker: #1B1B1B; 
}


@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-secondary-muted: var(--secondary-muted);
  --color-off-white: var(--off-white);
  --color-charcoal: var(--charcoal);
  --color-charcoal-darker: var(--charcoal-darker);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}